.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.open-sign-container {
  width: 270px;
  padding: 10px;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: none;
  border-radius: 20px;
}

.open-sign {
  height: 180px;
  display: flex;
  align-items: center;
}

.open-sign img {
  width:250px;
  overflow: hidden;
}

.open-buttons {
  width: 150px;
  display: flex;
  justify-content: space-evenly;
}