.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

* {
  user-select: none;
}

body {
  height: 100vh;
  background-image: url("./assets/at-the-zoo-bill-bell.jpeg");
  background-position: fixed;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

header {
  display: flex;
  width: 100%;
  height: 50px;
  background: burlywood;
  bottom: 0;
  justify-content: space-around;
  align-items: center;
}

footer {
  display: flex;
  width: 100%;
  height: 25px;
  background: burlywood;
  position: fixed;
  bottom: 0;
  justify-content: center;
  align-items: center;
  font-size: .8rem;
}

footer p {
  margin-bottom: 3px;
  align-self: flex-end;
}

main {
  width: 85%;
  height: calc(100vh - 75px);
  display: flex;
  flex-direction: column;
  align-items: center;
  background: white;
  border-left: 10px outset burlywood;
  border-right: 10px inset burlywood;
  overflow: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

main::-webkit-scrollbar {
  display: none;
}

.fight-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 10px 0;
}

.fighter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  width: 30vw;
  height: 312px;
  margin: 0 10px;
  padding: 10px 0;
  border: none;
  border-radius: 20px;
}
.fighter button {
  margin: 4px 0;
}

.unicorn {
  background-image: url('./assets/unicorn-background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
}

.lion {
  background-image: url('./assets/savanna.png');
  background-size: auto 75%;
  background-repeat: no-repeat;
  background-position: bottom;
}


.open-sign-container {
  width: 270px;
  padding: 10px;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: none;
  border-radius: 20px;
  margin: 10px 0;
}

.open-sign {
  height: 180px;
  display: flex;
  align-items: center;
}

.open-sign img {
  width:250px;
  overflow: hidden;
}

.open-buttons {
  width: 150px;
  display: flex;
  justify-content: space-evenly;
}

.parade-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 0;
}

.parade-buttons button {
  margin: 0 2px;
  font-size: 1.5rem;
}

.parade {
  font-size: 3rem;
  margin: .5rem 0;
}

.parade span {
  margin: 0 2px;
}